body {
    background: -webkit-linear-gradient(top, #222, #333);
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#wrapper {
    width: 600px;
    margin: 2em auto;
    background: -webkit-linear-gradient(top, #f2f2f2, #fff);
    padding: 1em;
    border-radius: 3px;
    box-shadow: 5px 5px 6px #222;
}

ul#tweets {
    list-style: none;
    padding: 0;
}

ul#tweets li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
    margin-bottom: 1em;
    color: #226;
}

form input[type="submit"] {
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    width: 108px;
    height: 42px;
    font-size: 17px;
    font-weight: bold;
    color: #335;
}

form input[type="submit"]:hover, form input[type="submit"]:focus {
    border: 1px solid #bbb;
    background: #e5e5ff;
}

form input[type="submit"]:active {
    border: 1px solid #ccc;
    background: #cfcfff;
}

form input#tweet_content {
    display: inline-block;
    width: 476px;
    height: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
}

p.error {
    color: #a8000C;
    background-color: #FFBABA;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 2em;
}

p.success {
    color: #006400;
    background-color: #90EE90;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 2em;
}

#inputs div {
    display: inline;
}